:root {
	--root-size: 16px;
}
body {
	font-size: var(--root-size);
	font-family: "Libre Baskerville", serif;
	color: black;
}
p {
	line-height: 170%;
	margin-top: 8%;
}

sup {
	color: #FFC72C;
}

header {
	background-color: #FFC72C;
	padding-top: 8%;
	padding-bottom: 8%;
	padding-left: 3%;
	font-family: "Libre Franklin", sans-serif;
	position: relative;
	z-index: 1;
	
}
.flex-container {
	color: rgb(0, 0, 0);
	background-color: #FFC72C;
	font-family: "Libre Franklin", sans-serif;
	font-weight:600;
	font-size: 16px;
	display: flex;
	left: 0%;
	right: 0%;
	justify-content: space-evenly;
	padding: 4%;
	padding-left: 0%;
	padding-right: 0%;
	flex-direction: row;
	position: absolute;
	z-index: 0;
	position: fixed;
	
}

li {
	background-color: #FFC72C;
	padding: 5%;
}

li:not(:first-child) {
	padding-left: 3%;
}
li:nth-child(6) {
	padding-right: 15%;
}
.navigation {
	background-color: #FFC72C;
}
#arrow {
	color: #C1261A;
}
#redtext {
	color: #C1261A;
}
h1 {
	font-size: 18px;
	font-weight: bold;
}
h2 {
	font-size: 38px;
	font-weight: bolder;
}
.author {

	font-size: 18px;
	margin-top: 10%;
	padding-left: 2%;
	border-color: black;
	border-left: 2px solid
	
}
h3 {
	font-family: "Libre Franklin", sans-serif;
	font-weight: bold;
	font-size: 26px;
	margin-bottom: 2%;
}
section {
	margin-top: 5%;
	margin-left: 2%;
	margin-bottom: 10%;
}
article {
	padding-bottom: 30%;
	margin: 2%;
}

.bigtext {
	font-size: 20px;
	font-family: "Public Sans", sans-serif;
	font-weight:500;
	line-height: 150%;
}
.bigtextitalic {
	padding: 1%;
	font-size: 18px;
	font-family: "Public Sans", sans-serif;
	font-weight:500;
	font-style: italic;
}
mark {
	background-color: #FFC72C;
}
footer {
	background-color: #FFC72C;
	text-align: center;
	font-size: 15px;
	padding: 7%;
	padding-bottom: 15%;
	font-family: "Libre Franklin", sans-serif;
	font-weight: 600;
}
.citation {
	font-size: 15px;
	font-family: "Public Sans", sans-serif;
	font-style: italic;
	padding-right: 4%;
	margin-right: 2%;
	border-right: #FFC72C;
	border-width: 2px;
	border-right-style: solid;
	

}
#originalarticle {
	color: #C1261A;
	margin: 2%;
}

