:root {
	--root-size: 16px;
	--fg-color: black;
}
body {
	font-size: var(--root-size);
	font-family:"Libre Franklin", sans-serif;
	color: black;
}

header {
	background-color: #FFC72C;
	padding-top: 8%;
	padding-bottom: 8%;
	padding-left: 6%;
	font-family: "Libre Franklin", sans-serif;
}
h1 {
	font-size: 19px;
	font-weight: bold;
}
h2 {
	font-size: 40px;
	font-weight: bolder;
}
.author {

	font-size: 18px;
	margin-top: 10%;
	padding-left: 2%;
	border-color: black;
	border-left: 2px solid
	
}